html, body {
  width:100%;
  height:100%;
  font: italic small-caps normal 36px/150% Arial, Helvetica, sans-serif;
}
ul {
  list-style-type: none;
}
.topPanel {
  position:fixed;
  width:100%;
  height:10%;
  z-index:10;
}
/**********************/
/*LEFT NAVIGATION MENU*/
/**********************/
.leftHead {
  position:relative;
  width:50%;
  height:100%;
  float:left;
}
.leftHead h1 {
  position:absolute;
  float:left;
  margin-left:50px;
  position:absolute;
  bottom:0;
  font-size:64px;
  font-family: 'Bubbler One', sans-serif;
  font-style: normal;
  font-weight: bold;
}
.leftHead h1:hover {
  cursor: pointer;
  color: rgb(0, 153, 255);
}
.leftNav {
  position:absolute;
  top:100%;
  float:left;
  width: 200px;
  margin-left:50px;
}
.leftNav li {
  height: 45px;
  width: 200px;
  vertical-align: middle;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  display: block;
}
.leftNav li:hover {
  cursor: pointer;
  transition-property: width, border-radius, padding-left, text-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  width: 210px;
  border-radius: 0 10px 10px 0;
  padding-left: 20px;
  text-shadow: 1px 1px 2px black;
}
.leftNav li a {
  position:relative;
  margin-top: auto;
  margin-bottom: auto;
  padding-left:10px;
  font-size: 20px;
  height:100%;
  width:100%;
  text-decoration: none;
  color: white;
  display:block;
}
.leftNav li a:active {
  color: #DAD4D4;
}
.leftNav li:nth-child(odd) {
  background:rgba(0, 153, 255, 0.4);
}
.leftNav li:nth-child(odd):hover {
  background:rgba(0, 153, 255, 0.8);
}
.leftNav li:nth-child(odd):active {
  background:rgba(0, 153, 255, 1.0);
}
.leftNav li:nth-child(even) {
  background:rgba(25, 25, 25, 0.4);
}
.leftNav li:nth-child(even):hover {
  background:rgba(25, 25, 25, 0.8);
}
.leftNav li:nth-child(even):active {
  background:rgba(25, 25, 25, 1.0);
}
/**********************/
/*****CONTACT INFO*****/
/**********************/

.rightHead {
  position:relative;
  width:50%;
  height:100%;
  float:right;
}
.contact {
  position:absolute;
  width:100%;
  top:50%;
}
.contact a {
  float:right;
  height:32px;
  width:32px;
  margin-right:20px;
  text-indent:-9999px;
  background:url('img/sprite3.png') no-repeat;
}
#ghubLogo {
  background-position: 0 0;
}
#ghubLogo:hover {
  background-position: -32px 0px;
}
#ghubLogo:active {
  background-position: -64px 0px;
}
#linkedInLogo {
  background-position: 0 -32px;
}
#linkedInLogo:hover {
  background-position: -32px -32px;
}
#linkedInLogo:active {
  background-position: -64px -32px;
}
#fbLogo {
  background-position: 0 -64px;
}
#fbLogo:hover {
  background-position: -32px -64px;
}
#fbLogo:active {
  background-position: -64px -64px;
}
#emailLogo {
  margin-right:50px;
  background-position: 0 -96px;
}
#emailLogo:hover {
  background-position: -32px -96px;
}
#emailLogo:active {
  background-position: -64px -96px;
}

/**********************/
/******MAIN PANEL******/
/**********************/

main {
  position:relative;
  z-index: -1;
  top: 10%;
  clear:both;
  width:100%;
  height:600px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  overflow:auto;
}
#home {
  width:100%;
  height:100%;
  background:url('img/MtFujiTrim4.jpg') no-repeat;

}

/*main:hover {
  transition-property: background-position;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  background-position: 1440px 0px;
}*/

/**********************/
/********FOOTER********/
/**********************/
.bottomPanel {
  position:fixed;
  z-index: 10;
  width:100%;
}
