html, body {
  min-width:1024px;
  min-height:520px;
  width:100%;
  height:100%;
}
body {
  font: italic small-caps normal 36px/150% Arial, Helvetica, sans-serif;
}
/*
.clearfix:after {
  content: "\00A0";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block
}*/
ul {
  list-style-type: none;
}

@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot');
  src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('fonts/icomoon.woff') format('woff'),
    url('fonts/icomoon.ttf') format('truetype'),
    url('fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.topPanel {
  position:relative;
  min-height:78px;
  min-width:1024px;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
  width:100%;
  height:15%;
  border-bottom: 1px solid black;
}
/**********************/
/*LEFT NAVIGATION MENU*/
/**********************/
.leftHead {
  position:relative;
  width:50%;
  height:100%;
  min-width:512px;
  float:left;
}
.leftHead h1 {
  position:absolute;
  float:left;
  margin-left:5%;
  position:absolute;
  bottom:0;
  font-size:2em;
  font-family: 'Bubbler One', sans-serif;
  font-style: normal;
  font-weight: bold;
}
.leftHead h1:hover {
  cursor: pointer;
  color: rgb(0, 153, 255);
}
.leftNav {
  position:absolute;
  z-index:4;
  top:100%;
  float:left;
  width: 35%;
  margin-left:5%;
}
.leftNav li {
  height: 25%;
  width: 100%;
  vertical-align: middle;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  display: block;
}
.leftNav li:hover {
  cursor: pointer;
  transition-property: width, border-radius, padding-left, text-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  width: 102%;
  border-radius: 0 10px 10px 0;
  padding-left: 5%;
  text-shadow: 1px 1px 2px black;
}
.leftNav li span {
  position:relative;
  margin-top: auto;
  margin-bottom: auto;
  padding-left:5%;
  font-size: 0.6em;
  text-decoration: none;
  color: white;
  display:block;
  outline:none;
}
.leftNav li span:active {
  color: #DAD4D4;
}
.leftNav li:nth-child(odd) {
  background:rgba(0, 153, 255, 0.7);
}
.leftNav li:nth-child(odd):hover {
  background:rgba(0, 153, 255, 0.9);
}
.leftNav li:nth-child(odd):active {
  background:rgba(0, 153, 255, 1.0);
}
.leftNav li:nth-child(even) {
  background:rgba(25, 25, 25, 0.7);
}
.leftNav li:nth-child(even):hover {
  background:rgba(25, 25, 25, 0.9);
}
.leftNav li:nth-child(even):active {
  background:rgba(25, 25, 25, 1.0);
}
/**********************/
/*****CONTACT INFO*****/
/**********************/

.rightHead {
  position:relative;
  width:50%;
  min-width:512px;
  height:100%;
  float:right;
}
.rightHead nav {
  height: 100%;
  width: 100%;
}
.contact {
  position:absolute;
  width:100%;
  top:40%;
  min-width:512px;
}
.contact a {
  font-size: 1em;
  text-decoration:none;
  float:right;
  margin-right:3%;
  color:black;
}
.contact a:hover {
  color:rgb(0, 153, 255);
}
.contact a:active {
  color:rgb(0, 200, 255);
}
#emailLogo {
  margin-right:6%;
}
/**********************/
/******MAIN PANEL******/
/**********************/

main {
  position:relative;
  top:0;
  z-index:3;
  clear:both;
  height:75%;
  min-height:390px;
  min-width:1024px;
  max-height:600px;
  width:100%;
  /*border-bottom:1px solid black;*/
  overflow:hidden;
}
#home, #bio, #projects, #resume, #interests {
  position:absolute;
  float:left;
  top:0;
  width:100%;
  height:100%;
}
#home {
  left:0;
  background:url('img/MtFujiTrim4.jpg') no-repeat;
}

#bio {
  background:white;
  z-index:100;
  left:100%;
}
.bioPic, .bioInfo {
  position: relative;
  height:100%;
}
.bioPic {
  min-width:358px;
  width:35%;
  float:left;
}
.bioPic img {
  margin:0 auto;
  width:60%;
  position: absolute;
  margin: auto;
  top:15%;
  left:20%;
}
.vBar {
  position:absolute;
  right:4%;
  height:100%;
  width:10%;
  background-color: rgba(0, 153, 255, 0.4);
}
.vBar2 {
  position:absolute;
  right:0;
  height:100%;
  width:2%;
  background-color: rgba(0, 153, 255, 0.4);
}
.bioInfo {
  position:absolute;
  right:0;
  height:100%;
  min-width:666px;
  width:65%;
  float:right;
  overflow:hidden;
}
.bioInfo p {
  position:absolute;
  float:left;
  min-width:586px;
  width:88%;
  height:100%;
  padding: 15% 6% 5% 6%;
  font: small-caps italic .5em 'Arial', cursive;
  text-align:justify;
}
.title {
  position:absolute;
  bottom:0;
  right:0;
  width:10%;
  height:10%;
  padding:0 2% 0 0;
}
/**********************/
/*******PROJECTS*******/
/**********************/
#projects {
  left:200%;
}
.donator, .phonetag {
  position:absolute;
  width:100%;
  height:100%;
}
.leftTab, .rightTab {
  position:absolute;
  width:52%;
  height:6%;
  top:47%;
  font-size:.6em;
  content:"";
  -webkit-transform: skew(-30deg);
  overflow:hidden;
}
.donator, .leftTab {
  background-color:white;
}
.phonetag, .rightTab {
  background-color:white;
}
.leftTab {
  left:-2%;
  background:white;
  -webkit-box-shadow: 0 0 0 4px white, 8px 8px 4px rgba(0, 0, 0, 0.6);
}
.rightTab {
  z-index:2;
  right:-2%;
  -webkit-box-shadow: 0 0 0 4px white, -8px -8px 4px rgba(0, 0, 0, 0.6);
}
.donator {
  top: -53%;
  -webkit-box-shadow: 0 0 0 4px white, 0 8px 4px rgba(0, 0, 0, 0.6); 
}
.phonetag {
  z-index:1;
  bottom:-53%;
  -webkit-box-shadow: 0 0 0 4px white, 0 -8px 4px rgba(0, 0, 0, 0.6);
}
.donator h1 {
  position:relative;
  font-size: 2em;
}
.projInfo p {
  position:relative;
  margin-top: 10px;
  font: small-caps italic .5em 'Arial', cursive;
}
.tech p {
  font-size: .45em;
}
.donator .projInfo {
  position:absolute;
  width:50%;
  bottom:15%;
  left:5%;
  border-left: 10px solid rgba(0, 153, 255, 1);
  border-bottom: 4px solid rgba(153, 255, 0, 1);
  padding: 0 0 2px 2px;

}
.donator .tech {
  position:absolute;
  width:45%;
  padding: 1%;
  border-left: 30px solid rgb(0, 153, 255);
  /*border-top: 15px solid rgb(153, 255, 0);*/
  /*background-color:rgba(100, 100, 100, 0.1);*/
  top:15%;
  left:-30%;
  line-height:.6em;
}
.donator .tech h2 {
  font-size: .5em;
  line-height:.7em;
}
.donator .tech li {
  font-size: .4em;
  list-style-type: disc;
  list-style-position: inside;
  display:inline-block;
}
.screenShots {
  width:50%;
}
.donator .screenShots {
  position:absolute;
  bottom: 7%;
  left: 65%;
}
.screenShots img {
  position:relative;
  width: 12%;
}
.screenShots img:first-child {
  z-index:10;
  -webkit-transform: rotate(-10deg);
}
.screenShots img:nth-child(even) {
  z-index:9;
  -webkit-transform: rotate(10deg);
}
.phonetag h1 {
  text-align:right;
  position:relative;
  font-size: 2em;
}
.phonetag .projInfo {
  width:50%;
  position:absolute;
  top:15%;
  right:5%;
  border-right: 10px solid rgba(0, 153, 255, 1);
  border-bottom: 4px solid rgba(153, 255, 0, 1);
  padding: 2px 2px 0 0;
  text-align:right;
}
.phonetag .tech {
  position:absolute;
  width:45%;
  padding-right: 2%;
  border-right: 30px solid rgb(0, 153, 255);
  bottom:15%;
  right:-55%;
  line-height:.6em;
  text-align:right;
}
.phonetag .tech h2 {
  font-size: .5em;
  line-height:.7em;
}
.phonetag .tech li {
  font-size: .4em;
  list-style-type: disc;
  list-style-position: inside;
  display:inline-block;
}
.tech a {
  text-decoration: none;
  font-weight:bold;
}
.phonetag .screenShots {
  position:absolute;
  left: 20%;
  top: 10%;
}
/**********************/
/********RESUME********/
/**********************/
#resume {
  z-index:100;
  left:300%;
  background:white;
  overflow-y:auto;
}
#resume .frame {
  width:100%;
  height:100%;
  margin: auto;
}
#resume object {
  width:100%;
  height:100%;
}
/**********************/
/*******INTERESTS******/
/**********************/
#interests {
  left:400%;
}
video {
  -webkit-transform: rotate(-10deg);
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.6);
  border: 1px solid black;
  padding: 10px 5px 40px 5px;
  width: 160px;
}
/**********************/
/********FOOTER********/
/**********************/
.bottomPanel {
  position:relative;
  top:0;
  height:10%;
  width:100%;
  min-height: 52px;
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
  overflow: auto;
  border-top: 1px solid black;
}
.hidden {
  display:none;
}
