body {
  font: italic small-caps normal 36px/150% Arial, Helvetica, sans-serif;
}
ul {
  list-style-type: none;
}
.topPanel {
  width:100%;
  height:100px;
  border-bottom: solid black;
  border-width: 0 0 2px 0;
}
header {
  position: relative;
  font-size: 18px;
  height: 100%;
  background-color:white;
}
.siteNav, .contact {
  width:40%;
  height:100%;
}
.siteNav li {
  margin-right:10px;
}
.contact {
  float: right;
  padding-right: 10px;
}
header a {
  text-indent:-9999px;
  margin-left: 20px;
  float: right;
}
.contact a {
  margin-top: 40px;
  background:url('img/sprite3.png') no-repeat;
}
#linkedIn, #ghub, #emailLink, #fbLink {
  height:32px;
  width:32px;
}
/* Contact Icons */
#ghub {
  margin-right:20px;
  background-position: 0 0;
}
#ghub:hover {
  background-position: -32px 0px;
}
#ghub:active {
  background-position: -64px 0px;
}
#linkedIn {
  background-position: 0 -32px;
}
#linkedIn:hover {
  background-position: -32px -32px;
}
#linkedIn:active {
  background-position: -64px -32px;
}
#fbLink {
  background-position: 0 -64px;
}
#fbLink:hover {
  background-position: -32px -64px;
}
#fbLink:active {
  background-position: -64px -64px;
}
#emailLink {
  background-position: 0 -96px;
}
#emailLink:hover {
  background-position: -32px -96px;
}
#emailLink:active {
  background-position: -64px -96px;
}
.container {
  position: relative;
  clear:both;
  width:100%;
  height:341px;
  border-bottom: solid black;
  border-width: 0 0 2px 0;
  background:url('img/MtFujiTrim2.jpg') no-repeat;
  position:fixed;
}
.leftNav {
  margin-left:50px;
  width:200px;
  height:100%;
}
.leftNav:hover {
  color:#0099ff;
  cursor:pointer;
}
.leftNav h1 {
  position:absolute;
  top:-52px;
  float:left;
  font-style: normal;
  font-weight: bold;
  font-family: 'Bubbler One', sans-serif;
  font-size: 64px;
}
.leftNav li {
  position:relative;
  width:100%;
  font-size:24px;
  border:1px solid white;
}
.leftNav li:hover {
  transition-property: width, border-radius;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  border-radius: 0 10px 10px 0;
  width: 110%;
}
.leftNav a {
  margin:0;
  padding-left: 10px;
  color: white;
  text-decoration: none;
  width:100%;
  height:100%;
  display:block;
}
.leftNav li:nth-child(odd) {
  background:rgba(0, 153, 255, 0.4);
}
.leftNav li:nth-child(odd):hover {
  background:rgba(0, 153, 255, 0.8);
}
.leftNav li:nth-child(odd):active {
  background:rgba(0, 153, 255, 1.0);
}
.leftNav li:nth-child(even) {
  background:rgba(25, 25, 25, 0.4);
}
.leftNav li:nth-child(even):hover {
  background:rgba(25, 25, 25, 0.8);
}
.leftNav li:nth-child(even):active {
  background:rgba(25, 25, 25, 1.0);
}
.hidden {
  display:none;
}
footer {
  position:fixed;
  background-color:gray;
}
/*#ghub {
  margin-right:20px;
  background:url('img/') no-repeat;
}
#linkedIn {
  background:url('img/linkedin.png') no-repeat;
}
#fbLink {
  background:url('img/facebook3.png') no-repeat;
}
#emailLink {
  */
