<!DOCTYPE html>
<html ng-app="mySite">
  <head>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="mySite.js"></script>
    <link rel="stylesheet" href="reset.css" />
    <link rel="stylesheet" href="styles.css" />
    <link href='http://fonts.googleapis.com/css?family=Bubbler+One' rel='stylesheet' type='text/css'>
    <title>Leighton Kaina</title>
  </head>
  <body>
    <div ng-controller="MainCtrl">
      <div class='topPanel'>
        <header>
          <h1 ng-mouseenter='showMenu=true' ng-mouseleave='showMenu=false'>{{title}}</h1>
          <nav class='contact'>
            <a href="https://github.com/lkaina" id="ghub">GitHub</a>
            <a href="http://www.linkedin.com/in/lkaina" id="linkedIn">LinkedIn</a>
            <a href="mailto:leighton.kaina@gmail.com" id="emailLink">Email</a>
            <a href="https://www.facebook.com/lkaina" id="fbLink">Facebook</a>
          </nav>
        </header>
      </div>
      <div class='container'>
        <nav class='leftNav' ng-mouseenter='showMenu=true' ng-mouseleave='showMenu=false' ng-animate="'slideMenu'" ng-show="showMenu">
          <ul>
            <li ng-repeat="link in navLinks" ng-click='click(link)' ng-class-odd="'oddNav'" ng-class-even="'evenNav'"><a href="{{link.name}}">{{link.name}}</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <footer>
    </footer>
  </body>
</html>
